<link rel="stylesheet" href="/stylesheet/commande.css" />

<div id="commande_image">
  <h1>Commande</h1>
</div>


  <div class="filtre">
    <button class="filtrebtn">Filtre</button>
    <div class="sousfiltre">
      <a>Fruits</a>
      <a>Fruits rouges</a>
      <a>Légumes</a>
      <a>Aromates</a>
      </div>
</div>

  <div class="produits">
    {{#each products}}
    <div class="produit">
      <img class="produit_img" src="{{url}}" alt="{{nomProduit}}" />
      <h3 class="produit_nomProduit">{{nomProduit}}</h3>
      <h4 class="produit_famille">Fammille : {{famille}}</a>
        <h4 class="produit_origine">Origine : {{origine}}</h4>
        <h4 class="produit_prixKgOuPiece">Prix KG : {{prixKgOuPiece}}€</h4>
        <a href="/ficheproduct/{{id}}"><button>Fiche produit</button></a>
        <a href="/panier/{{id}}"><button>🛒</button></a>
        </div>

    {{/each}}
    </div>
