<link rel="stylesheet" href="/stylesheet/ficheproduct.css" />



<div id="ficheproduit_titre">
    <h1>Fiche Produit</h1>
    
</div>

<img class="ficheproduit_img" src="{{product.url}}" alt="{{product.nomProduit}}" />
<h3 class="ficheproduit_nomProduit">Nom du produit : {{product.nomProduit}}</h3>
<h4 class="ficheproduit_famille">Famille : {{product.famille}}</h4>
<div id="ficheproduit_image"></div>
<h4 class="ficheproduit_origine">Origine : {{product.origine}}</h4>
<h4 class="ficheproduit_prixKgOuPiece">Prix kg : {{product.prixKgOuPiece}} €</h4>
<h5 class="ficheproduit_description">Description : {{product.description}}</h5>



<a href="/commande"><button>retour</button></a>