<link rel="stylesheet" href="/stylesheet/useredit.css" />

<h1>Mes informations</h1>

<form class="useredit_info" method="POST">
  <section class="useredit">
  <label>Email</label>
  <input type="email" name="email" placeholder="Votre email" value="{{email}}" />

  <label>Nom de l'entreprise</label>
  <input type="text" name="entreprise" placeholder="Nom de l'entreprise" value="{{entreprise}}" />

  <label>Adresse</label>
  <input type="text" name="adresse" placeholder="Adresse de l'entreprise" value="{{adresse}}" />

  <label>Ville</label>
  <input type="text" name="ville" placeholder="Ville" value="{{ville}}" />

  <label>Telephone</label>
  <input type="text" name="telephone" placeholder="Telephone" value="{{tel}}" />

  <button>Valider</button>
  </section>
</form>